body {
  margin: 0px;
}

h1 {
  color: black;
  font-family: times new roman;
  font-size: 72px;
  text-align: center;
}

#date {
  position: sticky;
  align-self: flex-end;
}

.write-up {
  position: absolute;
  color: white;
  border: 1px solid white;
  font-family: helvetica;
  font-size: 16px;
  padding: 100px 100px;
  top: 18%;
}

h2 {
  text-align: center;
}

path {
  fill: #fff0;
}

text {
  fill: #ffffff;
  font-size: 92px;
}

textPath {
  font-size: 96px;
  font-size: 96px;
  font-style: italic;
  letter-spacing: 13px;
  font-family: times;
}

.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: #ebf5f4;
}

.intro {
  background-image: url(conserve.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 600px;
}

.round-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

.set-up {
  border: 1px solid black;
}

.image-venue {
  width: 600px;
}

.container .main-info {
  min-height: 100vh;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 72px 1px 72px;
  position: absolute;
  border: 1px solid black;
}

.middle-container {
  position: relative;
  text-align: center;
  border: 1px solid black;
}

#date {
 font-size: 64px;
}

.container .form {
  height: 50vh;
  margin-bottom: 64px;
  margin-top: 25%;
  border: 1px solid black;
}

.form .footer {
  text-align: center;
}

button {
  appearance: none;
  color: black;
  font-family: times new roman;
  font-size: 12px;
  padding: 12px 24px;
  border-radius: 150px;
  background-color: #faebd700;
  border: 1px solid black;
}

input, text {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid black;
  width: 525px;
  margin: 36px 28px;
  font-size: 32px;
  font-family: times new roman;
  background-color: #faebd700;
}
