html { /* body won't work ¯\_(ツ)_/¯ */
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

body {
  margin: 0px;
  background-image: url(consdark.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.scroll-container {
  scroll-snap-type: y mandatory;
}

.scroll-child {
  scroll-snap-align: start;
}

h1 {
  color: #ebf5f4;
  font-family: 'Turret Road', cursive;;
  font-size: 54px;
  font-style: italic;
}

h2 {
  font-family: 'Turret Road', cursive;
}

#sticky-date {
  color: #ebf5f4;
  font-size: 54px;
  font-family: 'Turret Road', cursive;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-self: flex-start;
  z-index: 2;
}

#sticky-buy-tickets {
  color: #ebf5f4;
  font-size: 84px;
  font-family: 'Turret Road', cursive;
  position: fixed;
  position: -webkit-sticky;
  bottom: 0;
  align-self: flex-end;
  z-index: 2;
  margin-right: 12px;
  background-color: #fff8dc00;
  border: 0px;
  font-style: italic;
}

#ticket-form-title {
  text-align: left;
  font-size: 42px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  color: white;
  font-family: 'Cutive Mono', monospace;
  background-color: #000000;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  outline: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#ticket {
  font-size: 24px;
}

.orinein-header-1 {
  margin: -99px 1px 1px -64px;
}

.write-up-1 {
  width: 50%;
  height: 50%;
  position: absolute;
  color: white;
  border: 1px solid white;
  font-family: 'Cutive Mono', monospace;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: left;
  padding: 48px 48px;
  padding-right: 196px;
  background-color: #ffffff29;
  left: 48px;
}

.orinein-header-2 {
  text-align: end;
  margin: -99px -196px 1px 1px;;
}

.write-up-2 {
  width: 50%;
  height: 50%;
  position: absolute;
  color: white;
  border: 1px solid white;
  font-family: 'Cutive Mono', monospace;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: left;
  padding: 48px 48px;
  padding-right: 196px;
  background-color: #ffffff29;
}

h2 {
  text-align: center;
}

path {
  fill: #fff0;
}

text {
  fill: #ffffff;
  font-size: 92px;
}

textPath {
  font-size: 96px;
  font-size: 96px;
  letter-spacing: 13px;
  font-family: 'Turret Road', cursive;
}

#intro-org {
  font-size: 60px;
  font-style: italic;
  letter-spacing: 5px;
  font-family: 'Turret Road', cursive;
}

#intro-date {
  font-size: 36px;
  font-style: italic;
  letter-spacing: 5px;
  font-family: 'Turret Road', cursive;
}

.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff000000 , #4b738280, #d00028);
}

.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

#sunburst {
  position: fixed;
  height: 1000px;
}

img {
  height: 600px;
}

.image-orinein1 {
  background-image: url(bouquet.jpg);
  background-size: cover;
  height: 650px;
  width: 950px;
  left: 27px;
  position: absolute;
  opacity: 0.85;
}

.image-orinein2 {
  background-image: url(hand.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 450px;
  position: absolute;
  right: 24px;
  z-index: 1;
  border: 1px solid white;
}

.round-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

.set-up-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  border: 1px solid black;
  scroll-snap-align: start;
}

.image-venue-1 {
  background-image: url(portal.jpg);
  background-size: cover;
  width: 1000px;
  height: 650px;
  position: absolute;
  right: 0px;
  opacity: 0.85;
}

.image-venue-2 {
  background-image: url(podium.jpg);
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 650px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.container .main-info {
  min-height: 100vh;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 72px 1px 72px;
  position: absolute;
  border: 1px solid black;
}

.orinein-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  border: 1px solid black;
  scroll-snap-align: start;
}

.form {
  height: 50vh;
  margin-bottom: 64px;
  margin-top: 25%;
  position: relative;
  scroll-snap-align: start;
}

.cta {
  color: #ebf5f4;
}

#submit-btn {
  appearance: none;
  color: #ebf5f4;
  font-family: 'Turret Road', cursive;
  font-size: 12px;
  padding: 12px 24px;
  border-radius: 150px;
  background-color: #faebd700;
  border: 1px solid #ebf5f4;
}

input, text {
  color: #ebf5f4;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #ebf5f4;
  margin: 36px 28px;
  font-size: 32px;
  font-family: 'Cutive Mono', monospace;
  background-color: #faebd700;
}

.footer {
  position: relative;
  text-align: center;
  color: #ebf5f4;
  font-family: 'Cutive Mono', monospace;
}
