body {
  margin: 0px;
}

h1 {
  color: black;
  font-family: times new roman;
  font-size: 72px;
  text-align: center;
}

#headline {
  padding: 24px;
}

h2 {
  text-align: center;
}

.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: #ebf5f4;
}

.container .intro {
  background-image: url(conserve.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.container .main-info {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 72px 1px 72px;
}

#write-up {
  font-size: 24px;
}
.container .form {
  height: 50vh;
  margin-bottom: 64px;
}

.form .footer {
  text-align: center;
}

button {
  appearance: none;
  color: black;
  font-family: times new roman;
  font-size: 12px;
  padding: 12px 24px;
  border-radius: 150px;
  background-color: #faebd700;
  border: 1px solid black;
}

input, text {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid black;
  width: 525px;
  margin: 36px 28px;
  font-size: 32px;
  font-family: times new roman;
  background-color: #faebd700;
}
